/* DEBUG */

.bg_dblue{
  background-color: #031B4E;
}

.bg_gradient{
  background: linear-gradient(#0547C6, #00209B);
}

.p_top_bottom_50{
  padding-top: 50px;
  padding-bottom: 50px
}

.p_top_bottom_70{
  padding-top: 70px;
  padding-bottom: 70px;
}

/* HEADER */

/* header top */
.header_top {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  height: 80px;
  font-family: ;
  line-height: 80px;
  background-color: #fff;
}

.header_top .list-inline li a {
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  color: black;
  margin-left: 10px;
}

.logo {
  width: 150px;
  height: 80px;
}

#btn {
outline: none;
cursor: pointer;
text-align: center;
text-decoration: none;
font: bold 12px Arial, Helvetica, sans-serif;
color: #black;
padding: 10px 20px;
border: solid 1px #0076a3;
background: #0095cd;
}

#btn_imput {
  text-align: center;
  color:
}

/* jumbo */

.bg_green {
  background-image: url();
}

.jumbo_top {
  height: 480px;
  margin-top: 80px;
  padding-left: 80px 0;
  background-image: url(../img/bg_home.jpg);
}

.jumbo_text {
  max-width: 900px;
  margin-left: 70px;
  color: #black;
  text-align: center;
}

.jumbo_text h1 {
  font-size: 50px;
  color: #fff;
  font-weight: bolder;
  text-align: left;
}

.jumbo_text p {
  font-size: 20px;
  font-weight: lighter;
  text-align: left;
  color: rgba(255,255,255,0.72);
  width: 600px;
}

.jumbo_box {
 background-color: #fff;
 width: 450px;
 height: 350px;
 margin: 30px 40px;;
 border-radius: 6px;
}

.jumbo_box h2 {
  text-align: center;
  font-weight: bold;
  padding-top: 35px;
  font-size: 30px;
  line-height: 0.5;
}

.jumbo_box h3 {
  text-align: center;
  font-weight: bold;
  color: #6495ED;
  font-size: 27px;
}

.jumbo_box p {
  text-align: center;
  font-size: 12px;
}

.jumbo_box .list-imput li  {
  font-size: 15px;
  text-decoration: none;
  color: black;
  list-style-type: none;
  line-height: 2;
  height: 3px;
  margin: 15px;
  padding: 15px;
}

.jumbo_bottom {
  text-align: center;
}

.jumbo_bottom p {
  font-size: 15px;
  text-transform: uppercase;
  color: grey;
  font-weight: bold;
}

.row_bottom {
  padding: 30px;
}

.loghi {
  width: 130px;
  height: auto;
}

.jumbo_loghi .list-inline  {
  text-decoration: none;
  margin-left: 20px;
  text-align: center;
}


.list-imput {
  margin: 0 0 0 20px;
  padding: 5px;
  width: 70px;
}

.sottologhi {
  text-align: center;
  color: #6495ED;
}

/*Main*/

.deplay {
  margin-top: 80px;

}

.main_top h1 {
  text-align: center;
  font-weight: bold;
  margin-top: 90px;
}

.main_top p {
  text-align: center;
  color: grey;
  font-weight: bold;
  font-size: 20px;

}

.row .main {
  margin-top: 90px;
  padding-top: 90px;

}

 .sinistra li {
  font-size: 18px;
  text-decoration: none;
  color: grey;
  list-style-type: none;
  line-height: 0;
  padding: 20px;
  border-left: 2px solid grey;
  height: 20px;
  left: 50%;
  margin-left: -3px;
}

.designed {
  background-color: #F5F5F5;
  height: 700px;
  margin-top: 70px;
}

.row_designed h1 {
  text-align: center;
  font-weight: bold;
  margin-top: 70px;
}

.row_designed p {
  text-align: center;
  font-weight: bold;
  color: grey;
  font-size: 20px;
  margin-top: 30px;
}

.row_designed h6 {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  margin-top: 20px;

}

.developers {
  width: 50%;
  height: 50%;
}

.col-md-12-developers {
  text-align: center;

}

 .freccia {
  width: 100px;
  height: 100px;
  font-weight: bold;
  color: grey;
  font-size: 40px;
}

.circle {
  text-align: center;
  color: blue;
}

/*features*/

.features {
  margin-top: 20px;
  padding-top: 20px;
}
.features h1 {
  text-align: center;
  font-weight: bold;
}

.col-md-4 h6 {
  font-weight: bold;
  font-size: 18px;
}

.row_features {
  padding-left: 20px;
}

.feature p {
  color: #C8C8C8;
  font-weight: bold;
}

.features h5 {
  color: #6495ED;
  font-weight: bold;
}

/*sezione service your costumers*/

.container-blue {
  background-color: #00008B;
  width: 100%;
  height: 500px;
  margin-top: 40px;
}

.title-service h1 {
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 35px;
}

.title-service {
  margin-top: 40px;
  padding-top: 60px;
}

.col-md-6 .blue {
  padding-top: 30px;
  margin-top: 30px;
}

.list-city li {
 font-size: 15px;
 text-decoration: none;
 color: white;
 list-style-type: none;
 line-height: 0;
 padding: 20px;
 border-bottom: 2px solid white;
 height: 20px;
 left: 50%;
 margin-left: -3px;
}

.list-city .city {
  color: #F4F4F4;
  font-size: 13px;
  padding-left: 20px;

}

.list-city .test {
  position: relative;
  text-align: left;
  color: #00FFFF;
  float: right;
  font-size: 12px;
}

/*Sezione main_bottom */
.container.bottom {
  padding-top: 30px;
  margin-top: 30px;
}

.row_bottom h1 {
  text-align: center;
  font-weight: bold;
}

.p_top_bottom_70 h2 {
  color: #fff;
  font-weight: bold;
  size: 20px;
}

/*Footer*/
 .copyright {
   color: grey;
   font-weight: bold;
 }


#imput  {
  width: 380px;
  margin: auto;
  border-radius: 5px;
  border-width: thin;
  font-weight: bold;
}

#btn_imput_blue{
  background-color: #fff;
  width: 200px;
  height: 50px;
  margin: auto;
  border-radius: 5px;
  border-style: hidden;
  font-weight: bold;
  font-size: 16px;
  color:  #6495ED;

}

#btn_imput {
  width: 380px;
  margin: auto;
  border-radius: 5px;
  border-style: hidden;
  font-weight: bold;
  color: grey;
}


/* RESPONSIVE */

@media screen and (min-width: 1200px){
  h1{
    font-size: 50px;
  }

  .wrapper_carousel{
    margin-top: 50px;
  }

  .slider_point{
    margin-top: auto;
  }

  #development .immagine{
    padding: 70px 5px;
  }
}
